<div class="col-md-12">
  <div class="section-title">
    <h2 class="title">Featured books</h2>
    <div class="pull-right">
      <div class="product-slick-dots-1 custom-dots"></div>
    </div>
  </div>
</div>
<div class="book_content">
  <% if @books.any? %>
    <%= render @books.limit(4) %>
  <% end %>
</div>

  <h3></h3>
<div class="col-md-12">
  <div class="section-title">
    <h2 class="title">Picked for you</h2>
    <div class="pull-right">
      <div class="product-slick-dots-1 custom-dots"></div>
    </div>
  </div>
</div>
<div class="book_content">
  <% if @book2 %>
    <%= render @book2 %>
  <% end %>
</div>



