<ul class="users">
  <h2> All authors</h2>
  <ol class="micropos">
    <% if admin_user? %>
  <%= form_for @author do |f| %>
  <%= f.text_field :name,  placeholder: "Create author", class: 'search1 form-control' %>
  <%= f.submit "Create", class: "search2 btn btn-primary" %>
  <% end %>
  <% end %>
<% if @authors.any? %>
<b><%= render @authors %></b>
<% end %>
</ul>
