  <li><%= gravatar_for user, size: 50 %>
  <b><%= link_to user.name, user %></b>
  <% if logged_in? && current_user.admin? && !current_user?(user) %>
  <br></br>
    <span class="delete"><%= link_to t("delete"), user, method: :delete, data: {confirm: t("are_you_sure")} %></span>
  <% end %>
</li>
