<tr>
  <td class="text-center"><b><%= link_to user.id , user %></b></td>
  <td class="text-center"><b><%= link_to user.name, user %></b></td>
  <td class="text-center"><b><%= user.email %></b></td>
  <% if logged_in? %>
  <% if admin_user? %>
    <td class="text-center"><%= link_to "", user, method: :delete, data: {confirm: t("are_you_sure")}, class: "trash glyphicon glyphicon-trash" %></td>
  <% end %>
  <% end %>
</tr>
