<% provide(:title, t("all_users")) %>
  <div class="col-md-10 col-md-offset-1" style="border: 2px solid;">
    <h2 class="text-center"> All users </h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1 text-center">STT</th>
          <th class="col-md-2 text-center">User Name</th>
          <th class="col-md-3 text-center">Email address</th>
          <% if logged_in? && admin_user? %>
          <th class="col-md-1 text-center"> Edit</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>

