<% if logged_in? %>
  <% if admin_user? %>
    <%= render "shared/control_bar" %>
    <% end %>
    <% end %>
  <div class="show_book col-md-9">
<% if @confirmed_requests.any? %>
<ol><%= render @confirmed_requests %></ol>
<% end %>
<% if @confirmed_requests.blank? %>
  <h1> There are currently no confirmed requests .</h1>
  <% end %>
</div>
