<% if logged_in? %>
<% if @confirmed_requests.any? %>
<h2>Confirmed Requests</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-2">Request name </th>
        <th class="col-md-2">User name</th>
        <th class="col-md-2">Book name</th>
        <th class="col-md-2">Borrow date</th>
        <th class="col-md-2">Return date</th>
      </tr>
    </thead>

    <tbody>
      <%= render @confirmed_requests %>
    </tbody>
  </table>
<% end %>
<% if @confirmed_requests.blank? %>
  <h1> There are currently no confirmed requests .</h1>
  <% end %>
<% end %>

