<% if logged_in? %>
<% if @incoming_requests.any? %>
<h2>Pending Requests</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-2 text-center">Request name </th>
        <th class="col-md-1 text-center">Status</th>
        <th class="col-md-2 text-center">User name</th>
        <th class="col-md-2 text-center">Book name</th>
        <th class="col-md-2 text-center">Borrow date</th>
        <th class="col-md-2 text-center">Return date</th>
      </tr>
    </thead>

    <tbody>
      <%= render @incoming_requests %>
    </tbody>
  </table>
<% end %>
<% if @incoming_requests.blank? %>
  <h1> There are currently no incoming requests.</h1>
  <% end %>
<% end %>
