<% if logged_in? %>
<% if @rejected_requests.any? %>
<h2>Rejected Requests</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-2">Request name </th>
        <th class="col-md-2">User name</th>
        <th class="col-md-2">Book name</th>
        <th class="col-md-2">Borrow date</th>
        <th class="col-md-2">Return date</th>
      </tr>
    </thead>

    <tbody>
      <%= render @rejected_requests %>
    </tbody>
  </table>

<% end %>
<% if @rejected_requests.blank? %>
  <h1> There are currently no rejected requests .</h1>
  <% end %>
 <% end %>
