<% if logged_in? %>
  <% if admin_user? %>
    <%= render "shared/control_bar" %>
    <% end %>
    <% end %>
  <div class="show_book col-md-9">
<% if @returned_requests.any? %>
<ol><%= render @returned_requests %></ol>
<% end %>
<% if @returned_requests.blank? %>
  <h1> There are currently no returned (book) requests .</h1>
  <% end %>
</div>
