<% if admin_user? %>
  <%= render "shared/control_bar" %>
<% end %>
  </div>

<div class="show_book col-md-9">
 <div class="category_left col-md-3">
        <p></p>
        <%= form_tag(root_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search books", class: 'form-control', id: "filter-autocomplete-search" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
       <% end %>
</div>
