<% if get_children(category.id).blank? %>
  <li><%= link_to category.name, admin_category_url(category) %></li>
<% else %>
  <li>
  <%= link_to category.name, admin_category_url(category) %>
  <ul >
  <li><%= render partial: "categories/tree", collection: get_children(category.id), as: :category %></li>
  </ul>
  </li>
<% end %>
