<li><p class="category"><b><%=link_to category.name, category_path(category) %></b></p>
  <% if logged_in? %>
  <% if admin_user? %>
    <%= link_to t("delete"), category, method: :delete, data: {confirm: t("are_you_sure")} %>
  <% end %>
  <% end %>
</li>
