  <h2>Categories</h2>
   <ol class="micropos">
  <%= render @categories %></ol>
  <%= paginate @categories %>
<% if @categories.blank? %>
  <h4>There are no categories containing the term "<%= params[:search] %>".</h4>
<% end %>
