<% if admin_user? %>
<%= link_to "Delete this category", @category, method: :delete, data: {confirm: t("are_you_sure")} %>
<% end %>
<% if @books.any? %>
<ol class="microposts">
  <%= render @books %>
</ol>
  <%= paginate @books %>
  <% else %>
  <h4>There are no books in this category</h4>
<% end %>
</div>
